
.Container{
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #330000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23DD2424'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FF840F' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FF840F' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.36'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    /* background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/food.png"); */
    color: #FDEEDC;
}

.InputsContainer{
    width: 700px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ErrorMessage{
    width: 320px;
    height: 20px;
    background-color: #f55959;
    border-radius: 20px;
    margin-top: 3px;    
    margin-left: 2px;
    padding-left: 10px;
    font-size: small;
}

.IngresoDatos{
    width: 400px;
    height: 25px;
    border: none;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

.Chulitos{
    color: #FDEEDC;
    text-shadow: 5px 5px 7px #ffffff;
}

.BotonContainer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.BotonContainer2{
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}
.Botones{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(39, 39, 39);
    cursor: pointer;
    color: #E6B325;
}

.Botones:hover{
    background-color: rgb(216, 214, 70);
    color: rgb(39, 39, 39);
    border: 2px solid gold;
    -webkit-box-shadow: 0px 0px 26px 1px rgba(242,255,0,1);
    -moz-box-shadow: 0px 0px 26px 1px rgba(242,255,0,1);
    box-shadow: 0px 0px 26px 1px rgba(242,255,0,1);
}

@media (max-width: 560px){
    .ErrorMessage{
        width: 250px;
        height: 20px;
        background-color: #f55959;
        border-radius: 20px;
        margin-top: 3px;    
        margin-left: 2px;
        padding-left: 10px;
        font-size: small;
    }
    .IngresoDatos{
        width: 200px;
        height: 25px;
        border: none;
        border-radius: 20px;
        padding-left: 20px;
        margin-top: 20px;
    }
    .Botones{
        width: 260px;
        height: 30px;
        border: none;
        border-radius: 20px;
        background-color: rgb(39, 39, 39);
        cursor: pointer;
        color: #E6B325;
    }
}